<div class="hello" >
  <div class="iconplus">
    <img src="../assets/images/plusicon.png" alt="plus icon" width="50px"/>
  </div>
  <h1 class="titre">Bienvenue</h1>
  <div class="form" id="form">
    <form>
    <br/>
      <div class="form-elem">
      <div class="email">
        <input
        type="email"
          name="email"
          placeholder="Adresse e-mail"
          class="input-form"
        />
      </div>
      <br/>
      <div class="password">
        <input
        [type]="password"
          name="password"
          placeholder="Mot de passe"
          class="input-form pass"
        />
        <span (click)="onClick()"><i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
          <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i></span>
      </div>
      <div class="forget">
        <a href="#">Mot de passe oublié</a>
      </div>
      <br/><br/><br/>
      <div class="submit">
        <input
          type="submit"
          value="Se connecter"
          class="input-btn"
        />
      </div>
      </div>
    </form>
    <div class="logo-footer">
    <img src="../assets/logo/logo-alaxione.png" alt="logo footer"  width='200px'/>
  </div>
  </div>
</div>